extends layout
block content
    div.container.small
        div.row
            div.col-md-6
                img.img-thumbnail(src='../#{object.path}', width='480', height='350')
                div.caption
                    h4= object.title
                    a.btn.btn-danger.btn-sm(href='/image/delete/#{id}', role='button') Delete
                    a.btn.btn-default.btn-sm(href='/upload', role='button') Back